Node-RED/Blinking leds/blink.json
[{"id":"ef9d6079.6b4c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59402297.3a474c","type":"inject","z":"ef9d6079.6b4c3","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":160,"y":160,"wires":[["31ddf8b2.0a6728"]]},{"id":"3003cc1f.109ff4","type":"arduino out","z":"ef9d6079.6b4c3","name":"","pin":"13","state":"OUTPUT","arduino":"56cc8fad.adde5","x":580.5,"y":160,"wires":[]},{"id":"31ddf8b2.0a6728","type":"function","z":"ef9d6079.6b4c3","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":160,"wires":[["3003cc1f.109ff4","4ff561c6.92c48","e2068788.d7d348"]]},{"id":"4ff561c6.92c48","type":"arduino out","z":"ef9d6079.6b4c3","name":"","pin":"12","state":"OUTPUT","arduino":"56cc8fad.adde5","x":580,"y":260,"wires":[]},{"id":"e2068788.d7d348","type":"arduino out","z":"ef9d6079.6b4c3","name":"","pin":"8","state":"OUTPUT","arduino":"56cc8fad.adde5","x":560,"y":340,"wires":[]},{"id":"56cc8fad.adde5","type":"arduino-board","z":"","device":"/dev/tty.usbmodem141101"}]